body {
  font-family: proxima nova,proxima-nova,-apple-system,BlinkMacSystemFont,Segoe UI,open sans,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 15px;
    color: #4c555a;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
    margin:0;
}


ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {background-color: #111;}
  
  ul.topnav li a.active {background-color: #008cb3;}
  
  ul.topnav li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: black;} /* Gray */
.button5 {background-color: #555555;} /* Black */

.logoMain img{
  width:200px;
  padding:20px 0;
}
  .mainContent {
      padding:20px;
  }

  .mainColors .color {
    text-align:center;display:inline-block;
  }
  .dotWrapper {
    display: inline-block;
    padding:20px;
  }
  .colorDot {
    height: 125px;
    width: 125px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: inline-block;
  }

  .primary {background-color: #008cb3;}
  .primaryDark {background-color: #006cb3;}
  .primaryLight {}
  .secondary {background-color:#e83e8c;}
  .secondaryDark {background-color:#8a2554;}
  .secondaryLight {background-color:#f778b3;}
  .accent {background-color: #3BAFDA;}
  .accentDark {}
  .accentLight {}
  .focus {}
  .disabled {background-color:#6e6d6e;} 

.magic-block-callout.type-success {
   background-color: #f3f8f3;
   border-color: #50af51;
}

.magic-block-callout {
  margin-left: 31px;
  border-left: 4px solid #fa533d;
  padding: 13px 13px 13px 23px;
  position: relative;
  margin-bottom: 13px;
}
.magic-block-callout .fa.fa-check-square {
  color: #50af51;
}
.magic-block-callout .fa {
  pointer-events: none;
  font-size: 18px;
  opacity: .3;
  -ms-filter: "alpha(opacity=30)";
  filter: alpha(opacity=30);
  margin-right: 6px;
  position: relative;
  top: 1px;}

  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
}
.fa {
  font-style: normal;
  font-variant: normal;
  weight: normal;
  font-size: 14px;
  line-height: 1;
  font-family: FontAwesome;
}
.magic-block-callout.type-success h3 {
  color: #50af51;
}

i {
      font-size: x-large;
      font-style: italic;
  }
.docs-alert {
  margin-left: 31px;
  padding: 0px 13px 0px 0px;
  margin-bottom: 13px;
  display:flex;
}

.alert-box {
  padding: 1.25em;
}
.alert-text {
  padding:20px;
}
.bg-warning3 {
  background-color: #ffe066;
}
.bg-warning0 {
  background-color: #fff9db;
}
.warning6 {
  color: #fab005;
}
.docs-info {
  margin-left: 31px;
  padding: 0px 13px 0px 0px;
  margin-bottom: 13px;
  display:flex;
  background-color: #e7f5ff
}

.info-box {
  padding: 1.25em;
  background-color: #74c0fc;
}
.info-text {
  padding:20px;
}
.bg-info0 {
  background-color: #e7f5ff;
}

.alert {color:#fab005;margin-bottom:0;}
.info {color:powderblue;}