body {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);

}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttonHeader {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width:32%;
}
.tab{background-color: #2378AE;}
.tab:active {border-bottom: 3px solid #F9CB0C;}
.tab:hover {border-bottom: 3px solid #F9CB0C ;}

.balanceFloatdash {
  border-radius: 10px;
  padding: 20px;
  display: inline-block;
  width:300px;
}

.balanceCurrent {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-align: center;
}
.balanceCurrency {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
}

.dailyFloat {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-align: center;
  color:#1B9274;
}
.dailyCurrency {
  text-align: center;
  color:#1B9274;
  font-size: 2rem;
  font-weight: bolder;
}
.box {
  position: relative;
  display: inline-block;
  background: rgb(255,255,255);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
  content: "";
  border-radius: 15px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
  -webkit-transform: scale(1.15, 1.15);
  transform: scale(1.15, 1.15);
}

.box:hover::after {
    opacity: 1;
}

.information {
  background: rgb(255,255,255);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0px 15px 15px 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  display: block;
  width: 90%;
  margin:20px 20px 20px 0px;
}

.title {  display:inline-block;padding:20px;}
.type {  display:inline-block;padding:20px;}
.creditDebit {  display:inline-block;padding:20px;}
.amount {  display:inline-block;padding:20px;}
.status {  display:inline-block;padding:20px;}

.dashboad {float:left;padding: 20px;-webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.dashboard button {width:100%;}
.controls {display:inline-block;color:#fff;width:100%;}

.Blue1 {background-color:#1B4792;}
.Blue2 {background: rgb(35,120,174);
  background: linear-gradient(90deg, rgba(35,120,174,1) 0%, rgba(27,71,146,1) 100%);
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;}

.pending {background-color: #EE3C23;}
.Red2 {background-color: #F05B42;}
.cleared {background-color: #1B9274;}
.Green2 {background-color: #23AE7B;}

.right {float:right;padding: 20px;}
.left {float:left;padding: 20px;}

div span span a {color:#ffffff;text-decoration:none;}
button a{color:#ffffff;text-decoration:none;}

.footerNav {background:#333333;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  min-height: 65px;
  padding: 20px;
  margin: 0 20px 0 20px;
  width:96%;
  position:fixed;
  bottom:0;
}